<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwgo.common">

    <application>
        <activity
            android:name=".flutter.BaseFlutterActivity"
            android:process=":wangbin"
            android:screenOrientation="portrait" />

    </application>
</manifest>
